.lead {
    max-width: 984px;
    min-height: 1005px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
    color: white;
}

@media (max-width: 1024px) {
    .lead {
        max-width: 928px;
        min-height: 962px;
    }    
}

@media (max-width: 768px) {
    .lead {
        max-width: 768px;
        min-height: 862px;
    }    
}

@media (max-width: 320px) {
    .lead {
        max-width: 320px;
        min-height: 406px;
    }    
}